<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head', {"titulo": "Cart", "css": "cart"})%>
<body>    
    <%-include('./partials/header')%>
    <main>
        <div class="super-grid">
        <a href="/"><i class="fa fa-arrow-left"></i></i></a>
        <h1 class="titulo_1">CARRITO</h1>
        <div class="grid-container-cart cart">
            <div class="grid-item-cart product">
                <h2>PRODUCTO 1</h2>
                <div class="item-img">
                    <h3>$$$</h3>
                    <img src="../../imgs/camiseta-bebe-plana.png">
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="item-buttons">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>    
            </div>
            <div class="grid-item-cart product">
                <h2>PRODUCTO 2</h2>
                <div class="item-img">
                    <h3>$$$</h3>
                    <img src="../../imgs/camiseta-bebe-plana.png">
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="item-buttons">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>    
            </div>
            <div class="grid-item-cart product">
                <h2>PRODUCTO 3</h2>
                <div class="item-img">
                    <h3>$$$</h3>
                    <img src="../../imgs/camiseta-bebe-plana.png">
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="item-buttons">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>    
            </div>
            <div class="grid-item-cart product">
                <h2>PRODUCTO 4</h2>
                <div class="item-img">
                    <h3>$$$</h3>
                    <img src="../../imgs/camiseta-bebe-plana.png">
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="item-buttons">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>    
            </div>
            <div class="grid-item-cart product">
                <h2>PRODUCTO 5</h2>
                <div class="item-img">
                    <h3>$$$</h3>
                    <img src="../../imgs/camiseta-bebe-plana.png">
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="item-buttons">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>    
            </div>
            <div class="grid-item-cart product">
                <h2>PRODUCTO 6</h2>
                <div class="item-img">
                    <h3>$$$</h3>
                    <img src="../../imgs/camiseta-bebe-plana.png">
                    <button><i class="fa fa-trash"></i></button>
                </div>
                <div class="item-buttons">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>    
            </div>
        </div>
        <h2 class="titulo_2">ARTICULOS SUGERIDOS</h2>
            <div class="grid-suggestion suggestions">
                <div class="grid-item-suggestion">
                    <div class="suggestion">
                    <img src="../../imgs/camiseta-bebe-plana.png" alt="ropa">
                    <button>+</button>
                    <h3>$$$</h3>
                    </div>
                </div>
                <div class="grid-item-suggestion">
                    <div class="suggestion">
                    <img src="../../imgs/camiseta-bebe-plana.png" alt="ropa">
                    <button>+</button>
                    <h3>$$$</h3>
                    </div>
                </div>
                <div class="grid-item-suggestion">
                    <div class="suggestion">
                    <img src="../../imgs/camiseta-bebe-plana.png" alt="ropa">
                    <button>+</button>
                    <h3>$$$</h3>
                    </div>
                </div>
                <div class="grid-item-suggestion">
                    <div class="suggestion">
                    <img src="../../imgs/camiseta-bebe-plana.png" alt="ropa">
                    <button>+</button>
                    <h3>$$$</h3>
                    </div>
                </div>    
            </div>
            </div>
    </main>
        <section class="total">
            <h1>TOTAL</h1>
            <h1>$$$</h1>
            <button>COMPRAR</button>
        </section>
    <%-include('./partials/footer')%>
</body>
</html>