<!DOCTYPE html>
<html lang="es">
    <%-include("./partials/head", {"titulo": "Home","css": "home"})%>
<body>
    <%-include("./partials/header")%>
    <main>
        <section class="descripcion-tienda">
            <div class="store-container">
                <h1>MIS POLLITOS: INDUMENTARIA DE BEBÉ</h1>
                <p>Somos una tienda virtual dedicada a la venta al por mayor y menor de
                   indumentaria, calzado y accesorios para bebés. Contamos con una gran
                   variedad para los más pequeños de la casa, desde un conjunto recibidor para
                   un recién nacido, pasando por enteritos, camperas, buzos, camisetas,
                   pantalones, hasta la ropa interior para aquellos que dejan sus pañales, por
                   poner algunos ejemplos. Dispocolumnnemos de variados métodos de pago, como así
                   también de envío a domicilio y punto de retiro.</p>
                <form action="#">
                <h3>Si te interesa recibir nuestras novedades, dejanos tu mail:</h3>
                <input type="email" name="mail" placeholder="E-mail..."> <a href="#" type="submit" id="boton-novedades">RECIBIR NOVEDADES</a>
                </form>
            </div>
        </section>
        <section class="consultas-medios">
            <h2>NO OLVIDES CONSULTARNOS POR
                DESCUENTOS PARA CLIENTES
                MAYORISTAS</h2>
            <img src="#" alt="correo"> <img src="#" alt="whatsapp">
        </section>
        <br>
        <section class="productos">
            <article class="grid-item">
                <img src="../../imgs/camiseta-bebe-plana.png" width="200px" height="200px" alt="producto">
                <br>
                <button type="#">+</button>
                <h3>$Precio</h3>      
            </article>
            <article class="grid-item">
                <img src="../../imgs/camiseta-bebe-plana.png" width="200px" height="200px" alt="producto">
                <br>
                <button type="#">+</button>
                <h3>$Precio</h3>      
            </article>
            <article class="grid-item">
                <img src="../../imgs/camiseta-bebe-plana.png" width="200px" height="200px" alt="producto">
                <br>
                <button type="#">+</button>
                <h3>$Precio</h3>      
            </article>
            <article class="grid-item">
                <img src="../../imgs/camiseta-bebe-plana.png" width="200px" height="200px" alt="producto">
                <br>
                <button type="#">+</button>
                <h3>$Precio</h3>      
            </article>
            <article class="grid-item">
                <img src="../../imgs/camiseta-bebe-plana.png" width="200px" height="200px" alt="producto">
                <br>
                <button type="#">+</button>
                <br>
                <h3>$Precio</h3>      
            </article>
        </section>
    </main>
    <%-include("./partials/footer")%>
</body>
</html>