<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head', {"titulo": "Log In", "css": "login"})%>
<body>    
    <%-include('./partials/header')%>
    <main>
		<form action="/login" method="POST">
			<h1>QUE BUENO QUE VOLVISTE</h1>
			<input type="email" name="email" placeholder="E-mail">
			<input type="password" name="password" placeholder="Contraseña">
			<button type="submit">INGRESAR</button>
			<div class="links-container">
				<a href="#">Olvidaste tu contraseña?</a>
				<p>|</p>
				<a href="/register">Todavia no sos cliente?</a>
			</div>
		</form>
	</main>
<%-include('./partials/footer')%>
</body>
</html>