<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_register.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Registrate &#8812; Mis Pollitos</title>
</head>
<body>
<header> 
    <div class="header-container">
        <div class="header-menu-search">
            <i class="fa fa-bars"></i>
            <input type="text" name="search" placeholder="  Buscar productos...">
        </div>
        <div class="header-logo">
            <a href="./home.html">
            <img class ="logo_imagen" src="../img/logo_sin_fondo.png">
            </a>
        </div>
        <div class="header-buttons">
            <i class="fa fa-user"></i>
            <i class="fa fa-shopping-cart"></i>
        </div>
    </div> 
    <nav>
        <ul class="categorias">
            <li class="categoria">
                <a href="#">Inicio</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 1</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 2</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 3</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 4</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 5</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 6</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 7</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 8</a>
            </li>
            <li class="categoria">
                <a href="#">Categoria 9</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <form>
        <h1>CONVERTITE EN NUESTRO CLIENTE</h1>
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="last-name" placeholder="Apellido">
        <input type="email" name="email" placeholder="E-mail">
        <input type="text" name="date-birth" placeholder="Fecha de nacimiento">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">REGISTRARSE</button>
    </form>
</main>
<footer>
    <br>
    <div class="footer-container">
        <div class="footer-links links">
            <h3>Links utiles:</h3>
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Medios de pago</a></li>
                <li><a href="#">Donde encontrarnos</a></li>
            </ul>
        </div>
        <div class="footer-redes redes">
            <h3>Nuestras redes:</h3>
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-instagram"></span></a>
        </div> <!-- <img src="/img/logo_sin_fondo.png" alt=""> -->
        <div class="footer-logo logo">
            <a href="./home.html"><img src="../img/logo_sin_fondo.png" alt="footer-logo"></a>
        </div>
        <div class="footer-copyright copyright">
            Copyright Mis Pollitos - 2022. Todos los derechos reservados.
        </div>
        <div class="footer-nuevo-cliente cliente">
            <i class="fa fa-mobile"><span> ¡HACETE CLIENTE!</span></i>
        </div>
        <div class="null"></div>
    </div>
</footer>
</body>
</html>